* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: 'Segoe UI';
}

.footer {
    padding: 40px 0;
    background-color: #ffffff;
}

.list {
    padding: 0;
    margin-top: 0;
    line-height: 1.2;
    list-style: none;
    margin-bottom: 0;
    text-align: center;
    
}

.list a {
    opacity: 0.6;
    font-size: 12px;
    color: #000;
    text-decoration: none;
}

.list li {
    padding: 2px 5px;
    display: inline-block;
}

.list a:hover {
    opacity: 1;
}

select {
    border: 0;
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
}

.footer-l2 p {
    opacity: 0.6;
    margin-left: 16px;
}

.footer-l2 {
    align-items: center;
    justify-content: center;
    display: flex;
    word-spacing: 1px;
    padding: 3% 20%;
    font-size: 12px;
}

.header
{
    position: fixed;
    top: 0;
    padding-top: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(191, 191, 191);
}

.main {
    margin-top: 65px; 
}

img {
    height: 42px;
    width: 115px;
    margin: 10px;
    padding-left: 1%;
}

button {
    border: 0;
    text-align: center;
    /* padding: 10px ; */
    height: 30px;
    width: 70px;
    border-radius: 13%;
}

.button-blue {
    background-color: rgb(40, 161, 237);
    color:  #ffffff;
}

.button-white {
    background-color: #ffffff;
    color: rgb(40, 161, 237);
}

.header .nav-logo {
    margin-left: 160px;
    margin-top: 10px;
}

.header .buttons {
    float: right;
    margin: 20px 10px;
    margin-right: 160px;
}

#left-words {
    float: inline-start;
}

#right-words {
    float: inline-end;
}

.line {
    width: 2px;
}

.profile .gfg-img {
    background: url(gfglogo.png);
    background-size: 92px;
    height: 92px;
    width: 92px;
    background-repeat: no-repeat;
    object-fit: cover;
    
}

.center-div {
    display: flex;                 
    justify-content: space-between; 
}


.center-div > img {
    background-size: 92px;
    height: 92px;
    width: 92px;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 7px;
}




  /* Gallery Section */

  
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
  }
  
  .gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
  }
  
  .gallery-item:hover .gallery-item-info,
  .gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .gallery-item-info {
    display: none;
  }
  
  .gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
  }
  
  .gallery-item-likes {
    margin-right: 2.2rem;
  }
  
  .gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  }
  
  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.center-div {
    align-items: center;
    justify-items: center ;
    
}

.profile {
    display: flex;
    flex-direction: row;
    width: 100%;
}
  
.card {
    flex: 1 0 300px;
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    min-height: 200px;
    width: 80px;
    height: 120px;
  }


.main-container {
    margin-left: 170px;
    margin-right: 170px;
}

.bio {
    margin-left: 200px;
    align-items: flex-end;
    background-color: transparent;
}